$green: #91dc55;
$secondary-green: #89EC39;
$secondary-green-01: #7fd638;
$secondary-white: #F7F7F7;
$light-gray: #a0a0a0;

$blue: #377fb8;
$blue-01: #3075AC;
$gold: #e49f39;
$red: #E74C3C;
$yellow: #ffd52f;
$white: #fff;
$white-secundary: #f5f3f3;
$black: #333;
$gray: #c3c3c3;

$text-blue: #0E3F67;
$text-color: #FCFCFC;


